@charset "UTF-8";
/* CSS Document */

/*portfolio Header*/
#portfolio_header{
	list-style-type: none;
	float:left;
	margin: 2% 1% 0% 1%;
	padding: 0px;
	width:98%;
}
#portfolio_header li{
	list-style: none;
	float: left;
	background-size: contain;
	background-repeat: no-repeat;	
}
#left_illustrations{
	height: 150px;
	background-image: url(../img/Images/left_portfolio_header.png);
	margin: 1% 2.5% 1% 2.5%;
	width:35%;
	background-position: right;
}
#luke_zane{
	background-image: url(../img/Images/Luke_zane.png);
	background-position: center;
	margin-top:20px;
	height: 130px;
	width: 20%;
}
#right_illustrations{
	height: 150px;
	background-image: url(../img/Images/right_portfolio_header.png);
	margin: 1% 2.5% 1% 2.5%;
	width:35%;
	background-position: left;
}
/*end portfolio header*/

/* portfolio gallery */


.grid {
	position: relative;
	margin: 0 auto;
}

.js .grid::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background: #ebebeb url(../img/loading.svg) no-repeat 50% 75px;
	background-size: 60px auto;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.js .grid--loaded::after {
	opacity: 0;
}

.grid__item {
	width: 250px;
	padding: 1%;
}

.grid__item--current {
	opacity: 0 !important;
}

.img-wrap {
	display: block;
}

.img-wrap:focus,
.img-wrap:hover {
	outline: none;
}

.img-wrap img {
	display: block;
	max-width: 100%;
}
.preview {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	-webkit-align-content: center;
	align-content: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	width: 50%;
	height: 100%;
	pointer-events: none;
}

.preview::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #ebebeb;
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.preview--open {
	pointer-events: auto;
}

.preview--open::before {
	opacity: 1;
}

.clone {
	position: fixed;
	z-index: 110;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-backface-visibility: hidden;
}

.original {
	position: relative;
	z-index: 120;
	display: block;
	object-fit: contain;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	-webkit-backface-visibility: hidden;
}

.preview--open .animate {
	/* open */
	-webkit-transition: -webkit-transform 0.6s, opacity 0.2s;
	transition: transform 0.6s, opacity 0.2s;
}

.animate {
	/* close */
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.description {
	font-family: arial;
	color: #fff;
}
.js .description--grid {
	display: none;
}

.description--preview {
	font-size: 2em;
	position: absolute;
	z-index: 140;
	width: 100%;
	left: 100%;
	top: 0;
	height: 100%;
	padding: 0 1em;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	opacity: 0;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-transform: translate3d(0, 30px, 0);
	transform: translate3d(0, 30px, 0);
}

.preview--open .description--preview {
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.description--preview h3 {
	font-weight: 900;
	margin: 0;
	margin-top: -200px;
}
.layout_portfolio_element_header{
	font-weight: 900;
	font-size:30px;
	margin: -300px 0 0 0;
}

.description--preview p {
	font-size: 0.65em;
	max-width: 90%;
}

.description--preview p em {
	color: #5D5D5D;
	display: block;
	padding: 0.4em 0 0 0;
}

/* individual internal images */

.discription-img-ul{
	margin: 0px;
	list-style: none;
	float: left;
	width: 90%;
	height: 50px;
	padding: 0px;
	display: inline-block;
}
.portfolio_inner_grid{
	display: grid;
	margin: 0px;
	list-style: none;
	float: left;
	width: 90%;
	height: 50px;
	padding: 0px;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, 2fr);
}
.portfolio_inner_grid_elements{
	display: grid;
	padding: 4%;
	width: 92%;
	height: 150px;
	background-color: #fff;
}
.discription-img-ul-2{ /*bike*/
	margin-top: 0px;
	margin-bottom: 0px;
	list-style: none;
	float: left;
	width: 90%;
	padding: 0px;
	display: inline-block;
}
.description-img{
	width: 27%;
	height: 200px;
	margin: 1%;
	padding: 2%;
	background-color: #fff;
	display: inline-block;
}

.description-img-4{ /*Aven*/
	width: 27%;
	height: 150px;
	margin: 1%;
	padding: 2%;
	background-color: #fff;
	display: inline-block;
}
.description-img-5{ /*Puzzle*/
	width: 42%;
	height: 150px;
	margin: 1%;
	padding: 2%;
	background-color: #fff;
	display: inline-block;
}
.description-img-3{ /*bike*/
	width: 100%;
	height: 425px;
	margin: 1%;
	padding: 0px;
	background-color: #EBEBEB;
	display: inline-block;
}

.description-img-2{ /*D2C*/
	width: 27%;
	height: 225px;
	margin: 1%;
	padding: 2%;
	background-color: #fff;
	display: inline-block;
}

.description-img{
	width: 27%;
	height: 200px;
	margin: 1%;
	padding: 2%;
	background-color: #fff;
	display: inline-block;
}
/*modal images styling*/



/*end modal images styling*/
.portfolio_innerbox{
	width:100%;
	height:100%;
	background-color: #ebebeb;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.portfolio_innerbox-2{
	width:100%;
	height:100%;
	background-color: #ebebeb;
	background-position: center;
	background-repeat: no-repeat;
	background-size:contain;
}

#YingYang-img-1{
	background-image: url(../img/Images/yingyang1.jpg);
}
#YingYang-img-2{
	background-image: url(../img/Images/yingyang2.jpg);
}
#YingYang-img-3{
	background-image: url(../img/Images/yingyang3.jpg);
}
#D2C-img-1{
	background-image: url(../img/Images/D2C1.jpg)
}
#D2C-img-2{
	background-image: url(../img/Images/D2C2.jpg)
}
#D2C-img-3{
	background-image: url(../img/Images/D2C3.jpg)
}
#VW-img-1{
	background-image: url(../img/Images/vw1.jpg)
}
#VW-img-2{
	background-image: url(../img/Images/vw2.jpg)
}
#VW-img-3{
	background-image: url(../img/Images/vw3.jpg)
}
#Ram-img-1{
	background-image: url(../img/Images/Ram1.jpg)
}
#Ram-img-2{
	background-image: url(../img/Images/Ram2.jpg)
}
#Ram-img-3{
	background-image: url(../img/Images/Ram3.jpg)
}
#Bike-img-1{
	background-image: url(../img/Images/Bike1.jpg)
}
#Bike-img-2{
	background-image: url(../img/Images/Bike2.jpg)
}
#Bike-img-3{
	background-image: url(../img/Images/Bike3.jpg)
}
#Mskate-img-1{
	background-image: url(../img/Images/Mskate1.jpg)
}
#Mskate-img-2{
	background-image: url(../img/Images/Mskate2.jpg)
}
#Mskate-img-3{
	background-image: url(../img/Images/Mskate3.jpg)
}
#Aven-img-1{
	background-image: url(../img/Images/Aven1.jpg)
}
#Aven-img-2{
	background-image: url(../img/Images/Aven2.jpg)
}
#Aven-img-3{
	background-image: url(../img/Images/Aven3.jpg)
}
#Octo-img-1{
	background-image: url(../img/Images/Octo-1.jpg)
}
#Octo-img-2{
	background-image: url(../img/Images/Octo-2.jpg)
}
#Octo-img-3{
	background-image: url(../img/Images/Octo-3.jpg)
}
#Vessel-img-1{
	background-image: url(../img/Images/Vessel1.jpg)
}
#Vessel-img-2{
	background-image: url(../img/Images/Vessel2.jpg)
}
#Vessel-img-3{
	background-image: url(../img/Images/Vessel3.jpg)
}
#proofsticks-img-1{
	background-image: url(../img/Images/proofsticks1.jpg)
}
#proofsticks-img-2{
	background-image: url(../img/Images/proofsticks2.jpg)
}
#proofsticks-img-3{
	background-image: url(../img/Images/proofsticks3.jpg)
}
#PL-img-1{
	background-image: url(../img/Images/Licence1.jpg)
}
#PL-img-2{
	background-image: url(../img/Images/Licence2.jpg)
}
#PL-img-3{
	background-image: url(../img/Images/Licence3.jpg)
}
#PI-img-1{
	background-image: url(../img/Images/PI1.jpg)
}
#PI-img-2{
	background-image: url(../img/Images/PI2.jpg)
}
#PI-img-3{
	background-image: url(../img/Images/PI3.jpg)
}
#puzzle-img-1{
	background-image: url(../img/Images/puzzle-1.jpg)
}
#puzzle-img-2{
	background-image: url(../img/Images/puzzle-2.jpg)
}
#proofmag-img-1{
	background-image: url(../img/Images/proofmag-1.jpg)
}
#proofmag-img-2{
	background-image: url(../img/Images/proofmag-2.jpg)
}
#proofmag-img-3{
	background-image: url(../img/Images/proofmag-3.jpg)
}
#proofmag-img-4{
	background-image: url(../img/Images/proofmag-4.jpg)
}
#proofmag-img-5{
	background-image: url(../img/Images/proofmag-5.jpg)
}
#proofmag-img-6{
	background-image: url(../img/Images/proofmag-6.jpg)
}
#proofmag-img-7{
	background-image: url(../img/Images/proofmag-7.jpg)
}
#proofmag-img-8{
	background-image: url(../img/Images/proofmag-8.jpg)
}
#squid-img-1{
	background-image: url(../img/Images/squid1.jpg)
}
#squid-img-2{
	background-image: url(../img/Images/squid2.jpg)
}
#squid-img-3{
	background-image: url(../img/Images/squid3.jpg)
}
/* end individual internal images*/

/* Close button */

.action {
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	cursor: pointer;
	vertical-align: top;
	color: #3F3F3F;
	border: none;
	background: none;
}

.action:hover,
.action:focus {
	color: #fff;
	outline: none;
}

.action--close {
	position: fixed;
	z-index: 150;
	top: 0;
	right: 0;
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: scale3d(0.6, 0.6, 1);
	transform: scale3d(0.6, 0.6, 1);
}

.preview--image-loaded .action--close {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.text-hidden {
	position: absolute;
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;
	color: transparent;
}

@media screen and (max-width : 63.000em ){
	.description--preview h3 {
		font-size: 0.5em;
	}
	.description--preview p,
	.details {
		display: none;
	}
}

/*portfolio gallery end*/


body{
	background-color: #EBEBEB;
	margin: 0px 0px;
	padding: 0px 0px;
	width: 100%;
}
#header{
	padding: 15px 2.5% 0px 2.5%;
	background-color: #ebebeb;
	line-height: 70px;
	height: 70px;
}
/* text centering */

#hometext{ width: 7.65%; }
#pricingtext{ width: 9.34%; }
#portfoliotext{ width: 11.34%; }
#metext{ width: 3.84%; }
#storetext{ width: 7.04%; }
#contacttext{ width: 10.28%; }

#lukezane{
	float: left;
	height: 20px;
	width: 41%;
	margin:  30px 1% 20px 9%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	background-image: url(../img/Images/lukezane.png);
	transition: .25s ease-in-out;
}
#lukezane:hover{
	background-image:url(../img/Images/lukezane2.png);
}
#nav{
	list-style-type: none;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 0;
	list-style: none;
}
#navtext ul{
	padding-left: 0;
}
#navtext{
	float: left;
	height: 70px;
	width: 49%;
	transition: .5s ease-in-out;
}

.navtext{
	padding-right: 4.21%;
	padding-left: 4.21%;
	height:30px;
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
	list-style: none;
}

#nav li a{
	display: block;
	height: 100%;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	font-family: arial;
	transition: .25s ease-in-out;
}
#nav li a:hover{
	color: #CDCDCD;
}

.current_page{
	background-color: #fff;
}
.current_page a{
	color: #ebebeb;
}
.not_current_page a{
	color: #fff;
}

/*page styling*/

#content{
	padding: 15px 2.5% 15px 2.5%;
	background-color: #ebebeb;
	overflow: hidden;
}
#pricing{
	list-style-type: none;
	width: 100%;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

/*end page styling*/

/* card css */
.card-container {
  cursor: pointer;
  height: 285px;
  perspective: 600;
  position: relative;
  width: 100%px;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .front {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  backface-visibility: hidden;
  line-height: 100%;
  text-align: center;
  transform: rotateY(180deg);
}

.outerbox{
	margin: 0px 1%;
	padding: 0px 0px 0px 0px;
	float: left;
	height: 100%;
	width: 18%;
}
.outerbox2{
	float: left;
	height: 100%;
	width: 100%;
	background-color: #fff;
	border-radius: 1px; 
}
.innerbox1{
	margin: 6% 6% 6% 6%;
	width: 88%;
	background-color: #eef2f4;
	height: 230px;
	float: left;
}
.innerbox2{
	margin: 0px 6% -2px 6%;
	width: 88%;
	float: left;
	background-position:center;
}
.innerbox2 a{
	color: #ebebeb;
	font-family: arial;
	font-weight:900;
	font-size: 28px;
	float: left;
}

.back_innerbox1{
	margin: -1px 6% 6% 6%;
	width: 88%;
	background-color: #dbdbdb;
	height: 230px;
	float: left;
}

.back_innerbox2{
	margin: 4% 6% 0% 5.5%;
	width: 88.5%;
	float: left;
	background-position:center;
}
.back_innerbox2 a{
	color: #dbdbdb;
	font-family: arial;
	font-weight:900;
	font-size: 26px;
	line-height: 28px;
	margin-top: 9px;
	float: left;
}
.price{
	height: 20px;
	width: 40%;
	margin: -1% 40% 0px 20%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.back_button{
	width: 60%;
	height: 18px;
	background-color: #fff;
	padding: 5px 5px 5px 5px;
	margin: 5px 20% 5px 20%;
}
.back_button a{
	color:#dbdbdb;
	font-family: arial;
	font-weight: 900;
	font-size: 17px;
	text-decoration: none;
	transition: .5s ease-in-out;
	
}
.backbutton a:focus{
	color: #818080;
}
.includes_title{
	text-align: left;
	color:#fff;
	font-family: arial;
	font-size: 15px; 
	font-weight: 900;
	margin-top: 5px;
	margin-bottom: 0px;
	padding-left: 2.5%;
	padding-right: 2.5%;
}
.includes_text{
	text-align: left;
	color:#fff;
	font-family: arial;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 5px; 
}
.back_inner_text{
	padding-left: 2.5%;
	padding-right: 2.5%;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #fff;
	font-family: arial;
	font-size: 12px;
}


#logoimg{
	background-image: url(../img/Images/Vessel.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#brandingimg{
	background-image: url(../img/Images/Branding.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#webimg{
	background-image: url(../img/Images/Web.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#apparelimg{
	background-image: url(../img/Images/Apparel.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#layoutimg{
	background-image: url(../img/Images/Layout.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

/* end card css */

/*footer */

#face{
	width: 236px;
	height: 100px;
	background-image:url(../img/Images/facepic.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain
		
}
#facebook{
	background-image: url(../img/Images/facebook_icon.png);
	margin-left: 5%;
}
#instagram{
	background-image: url(../img/Images/Insta_icon.png);
}
#linkedin{
	background-image: url(../img/Images/Linkedin_icon.png);
}
footer li{
	list-style: none;
	float: left;
	margin-bottom: 2.5%;
}
footer a{
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 18px;
}
footer {
	padding-top: 0px;
	padding-left: 5%;
	padding-right: 5%;
}
.icons{
	width: 35px;
	height: 35px;
	margin: 10px;
	margin-top: 25px;
	background-position: center;
	background-size: contain;
}

/* end footer */
/*home page css*/

#intro-logo{
	height: 325px;
	width: 325px;
	margin: auto;
	margin-top: 10%;
	background-image: url(../img/Images/intro-logo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size:contain;
}
#intro-button{
	height: 30px;
	width: 100px;
	margin: auto;
	margin-top: -2%;
	background-image: url(../img/Images/intro-button.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size:contain;
	transition: .05s ease-in-out;
}

#intro-button:hover{
	background-image: url(../img/Images/intro-button_hover.png);
}
#intro-button a{
	display: block;
	height: 30px;
}
#home_body{
	background-image: url(../img/Images/Home_footer.png);
	background-position: bottom;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
	
}


/*end home page css*/

/*store css*/
#comingsoon{
	width: 40%;
	margin-right: 30%;
	margin-left: 30%;
	text-align: center;
	font-family: arial;
	color: #fff;
	font-weight: 900;
	font-size: 30px;
	margin-top: 0px;
}
#title{
	width: 10%;
	margin-right: 45%;
	margin-left: 45%;
	text-align: center;
	font-family: arial;
	color: #fff;
	font-weight: 900;
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}
/*end store css*/

/* contact css */
#emailme{
	width: 50%;
	margin-right: 25%;
	margin-left: 25%;
	text-align:left;
	font-family: arial;
	color: #fff;
	font-weight: 200;
	font-size: 20px;
	margin-top: 0px;
}
#contact-element label{
	font-family: arial;
	color: white;
	font-weight: 900;
}
#contact-element input{
	font-color: #ebebeb;
	font-weight: 900;
	
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 3px solid #fff;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: #ACAAAA;
    color: #ebebeb;
	font-family: arial;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #E1E0E0;
}

#contact-element{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}
/* end contact css */

/*me Css*/
#me_content{
	list-style-type: none;
	height: 528px;
	float:left;
	width: 96%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 2%;
	
}
#me_inner_content_grey{
	height: 418px;
	background: #dbdbdb;
	margin-right: 11px;
	margin-left: 11px;
	padding: 20px 2.5% 10px 2.5%;
}
.me_inner_content{
	width: 49%;
	padding: 0px;
	height:528px;
	display: block;
	float: left;
	background-color: #fff;
}
#me_inner_content_l{
	margin-right: 1%;
}
#me_inner_content_r{
	margin-left: 1%;
}
.me_inner_content h4{
	font-family: arial;
	font-weight: 600;
	font-size: 40px;
	margin: 27.5px 0px 2.5px 11px;
	color: #dbdbdb;
	height: 40px;
	
}
.me_inner_content h5{
	font-family: arial;
	font-weight: 600;
	font-size: 40px;
	margin: 0px 0px 0px 11px;
	color: #ebebeb;
	height: 40px;
	
}

/* one block paragraph*/
.me_inner_content p{
	font-family: arial;
	font-weight: 900;
	color: #fff;
	text-align: left;
	line-height: 120%;
	font-size: 20px;
	margin: 0px;
}

.me_inner_content a{
	font-family: arial;
	font-weight: 200;
	color: #fff;
	font-size: 25px;
	text-align: left;
}

#grid_container_me{
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(7, 64px);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	border: solid;
	background-color: #fff;
	border-color: #fff;
	border-width: 10px;
}
.grid-item{
	display: grid;
	width: 100%;
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#me_grid_1{
	grid-column-start: 1; 
  	grid-column-end: 5; 
	grid-row-start: 1; 
	grid-row-end: 5;
	background-image: url(../img/Images/Me1.png)
}
#me_grid_2{
	grid-column-start: 1; 
  	grid-column-end: 5; 
	grid-row-start: 5; 
	grid-row-end: 8;
	background-image: url(../img/Images/Me2.png)
}
#me_grid_3{
	grid-column-start: 5; 
  	grid-column-end: 9; 
	grid-row-start: 1; 
	grid-row-end: 4;
	background-image: url(../img/Images/Me4.png)
}
#me_grid_4{
	grid-column-start: 5; 
  	grid-column-end: 9; 
	grid-row-start: 4; 
	grid-row-end: 8;
	background-image: url(../img/Images/Me3.png)
}

#insta{
	float: left;
	padding: 0px 2% 0px 2%;
	width: 96%;
	height: 220px;
}

#insta_grid{
	display: grid;
	width: 100%;
	grid-template-columns: repeat(6, 1fr);
	grid-column-gap: 10px;
}
.grid2-item{
	display: grid;
	width: 90%;
	height: 180px;
	background-color: #fff;
	padding: 5% 5% 40px 5%;
	grid-template-columns: 100%;
}

.insta-inner{
	display:grid;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
#insta_1{
	background-image:url(../img/Images/Insta1.png);
}
#insta_2{
	background-image:url(../img/Images/Insta2.png)
}
#insta_3{
	background-image:url(../img/Images/Insta3.png)
}
#insta_4{
	background-image:url(../img/Images/Insta4.png)
}
#insta_5{
	background-image:url(../img/Images/Insta5.png)
}
/*#insta_6{
	background-image:url(../img/Images/Insta6.png)
}*/
#insta_7{
	background-image:url(../img/Images/Insta7.png);	
}
/*end me css*/

/*responsive styling*/
  
@media 
only screen
 and (min-width : 1024px) and (max-width : 1115px) {

	.grid2-item{
		height: 150px;
	}
	#me_content{
		height: 556px;
	}
	.me_inner_content{
		height:556px;
	}
	#me_inner_content_grey{
		height: 446px;
	}
	#grid_container_me{
		grid-template-rows: repeat(7, 68px);
	}
	.card-container {
  		height: 245px;
	}
 	.innerbox1{
		 height: 198px;
	}
	.back_innerbox1{
		 height: 198px;
	}
	.innerbox2 a{
		 font-size: 24px;
	}
	.back_innerbox2 a{
		 font-size: 22px;
	}
	.back_innerbox1 p{
		 font-size: 11px;
	}
	 .innerbox2{
		 margin-bottom: 0px;
	}

}

@media 
only screen
 and (min-width : 960px) and (max-width : 1024px) {

	.grid2-item{
		height: 150px;
	}
	#me_content{
		height: 500px;
	}
	.me_inner_content{
		height:500px;
	}
	#me_inner_content_grey{
		height: 395px;
	}
	#grid_container_me{
		grid-template-rows: repeat(7, 60px);
	}
	.me_inner_content h4{
		font-size: 35px;
		margin: 27.5px 0px 2.5px 11px;
		height: 35px;	
	}
	.me_inner_content h5{
		font-size: 37px;
		margin: 0px 0px 0px 11px;
		height: 37px;
	}
	.me_inner_content p{
		line-height: 120%;
		font-size: 18px;
	}
	.me_inner_content a{
		font-size: 20px;
	}
	#lukezane{
		width: 21%;
		margin:  30px 1% 20px 9%;
	}
	#navtext{
		width: 69%;
	}
	.card-container {
  		height: 245px;
	}
 	.innerbox1{
		height: 198px;
	}
	.back_innerbox1{
		height: 198px;
	}
	.innerbox2 a{
		font-size: 24px;
	}
	.back_innerbox2 a{
		font-size: 20px;
	}
	.back_innerbox1 p{
		font-size: 12px;
		line-height: 12px;
	}
	.back_innerbox1 pre{
		font-size: 11px;
		line-height: 11px;
	}
	.back_innerbox1 a{
		font-size: 11px;
	}
	 .innerbox2{
		margin-bottom: 0px;
	}
}

@media 
only screen
 and (min-width : 850px) and (max-width : 960px) {
	.grid2-item{
		height: 120px;
	}
	.card-container {
  		height: 190px;
	}
 	.innerbox1{
		height: 155px;
	}
	.back_innerbox1{
		height: 157px;
	}
	.innerbox2 a{
		font-size: 20px;
		margin-top: -5px;
	}
	.back_innerbox2 a{
		font-size: 18px;
	}
	.back_innerbox1 p{
		font-size: 10px;
		line-height: 10px;
	}
	.back_innerbox1 pre{
		font-size: 10px;
		line-height: 10px;
	}
	.back_innerbox1 a{
		font-size: 10px;
	}
	 .innerbox2{
		margin-bottom: 0px;
	}
	.back_button{
		padding:2px 2px 2px 2px;
		margin: 2px 20% 2px 20%;
	}	 
}

@media 
only screen
 and (min-width : 768px) and (max-width : 850px) {
	.grid2-item{
		height: 105px;
	}
	.card-container {
  		height: 170px;
	}
 	.innerbox1{
		height: 135px;
	}
	.back_innerbox1{
		height: 137px;
	}
	.innerbox2 a{
		font-size: 18px;
	}
	.back_innerbox2 a{
		font-size: 16px;
	}
	.back_innerbox1 p{
		font-size: 9px;
		line-height: 9px;
	}
	.back_innerbox1 pre{
		font-size: 9px;
		line-height: 9px;
	}
	.back_innerbox1 a{
		font-size: 9px;
	}
	 .innerbox2{
		margin-bottom: 0px;
	}
	.back_button{
		padding:2px 2px 2px 2px;
		margin: 2px 20% 2px 20%;
	}	
}

@media 
only screen
 and (min-width : 768px) and (max-width : 960px) {
	#me_content{
		height: 465px;
	}
	.me_inner_content{
		height:465px;
	}
	#me_inner_content_grey{
		height: 360px;
	}
	#grid_container_me{
		grid-template-rows: repeat(7, 55px);
	}
	.me_inner_content h4{
		font-size: 32px;
		margin: 27.5px 0px 2.5px 11px;
		height: 32px;	
	}
	.me_inner_content h5{
		font-size: 33px;
		margin: 0px 0px 0px 11px;
		height: 33px;	
	}
	.me_inner_content p{
		line-height: 120%;
		font-size: 15px;
	}
	.me_inner_content a{
		font-size: 17px;
	}
	#lukezane{
		width: 21%;
		margin:  30px 1% 20px 9%;
	}
	#navtext{
		width: 69%;
	}
}

@media 
only screen
	and (min-width : 768px) and (max-width : 800px){
	#right_illustrations{
		margin-top: 40px;
		height: 90px
	}
	#left_illustrations{
		margin-top: 40px;
		height: 90px
	}
	#portfolio_header {
		margin-bottom: -20px;
	}
}

/*not in a media query*/

#myNav{
	margin-top: -50px;
	margin-bottom: 14px;
	overflow:hidden;
}
#hamburger_menu{
	float:right;
	visibility: hidden;
	margin-top: 30px;
	margin-right: 30px;
	background-image: url(../img/Images/hambutton.png);
	transition: 0.5s ease-in-out;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
#hamburger_menu:hover{
	opacity: 0.5;
}
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
/*end of stuff not in a media query*/

@media 
only screen
	and (min-width : 480px) and (max-width : 768px){
	#header{
		display: none;
	}
	#hamburger_menu{
		visibility: visible;
		height:15px;
		width:5%;
		margin-left: 95%
	}
	#left_illustration{
		margin-top:10px;
	}
	#right_illustration{
		margin-top:10px;
	}
	#luke_zane{
		margin-top:10px;
	}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
		
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
	
}

@media  /*iphone horizontal*/
only screen
 and (width : 480px)
 and (orientation : landscape)
 {}

@media /*iphone*/
only screen
 and (width : 320px) {}

/*ebd responsive styling*/
